@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap");
@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0.3;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
:after,
:before {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 3.125rem);
}
body {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100vh;
}

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
picture {
  margin-top: 0;
}
img,
picture {
  height: auto;
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a:active,
a:visited {
  cursor: pointer;
  text-decoration: none;
}
button {
  cursor: pointer;
  font: inherit;
}
input,
textarea {
  font-family: inherit;
}
@media (prefers-reduced-motion: reduce) {
  *,
  :after,
  :before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
.sr-only {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.text-primary {
  color: #FFF201;
  transition: color 0.9s ease-in-out;
}

.text-italic {
  font-style: italic;
}
.text-purple{
  color: #2E3192;
}
.bg-primary {
  background-color: #32cd32;
}
.text-hover-primary:hover {
  color: #adebad;
}
.border-primary {
  border: 1px solid #FFF201;
}
.border-purple{
  border: 1px solid #2E3192;
}
.outline-primary {
  outline: 1px 1px solid #32cd32;
}
.text-secondary {
  color: #2cc;
}
.bg-secondary {
  background-color: #2cc;
}
.text-hover-secondary:hover {
  color: #9ee;
}
.border-secondary {
  border: 1px solid #2cc;
}
.outline-secondary {
  outline: 1px 1px solid #2cc;
}
.text-error {
  color: #f42f2f;
}
.bg-error {
  background-color: #f42f2f;
}
.text-hover-error:hover {
  color: #fcc0c0;
}
.border-error {
  border: 1px solid #f42f2f;
}
.outline-error {
  outline: 1px 1px solid #f42f2f;
}
.text-dark-gray {
  color: #5e5c47;
}
.bg-dark-gray {
  background-color: #5e5c47;
}
.text-hover-dark-gray:hover {
  color: #acaa92;
}
.border-dark-gray {
  border: 1px solid #5e5c47;
}
.outline-dark-gray {
  outline: 1px 1px solid #5e5c47;
}
.text-dark {
  color: #1e1b1c;
}
.bg-dark {
  background-color: #1e1b1c;
}
.text-hover-dark:hover {
  color: #6f6367;
}
.border-dark {
  border: 1px solid #1e1b1c;
}
.outline-dark {
  outline: 1px 1px solid #1e1b1c;
}
.text-light {
  color: #edeee8;
}
.bg-light {
  background-color: #edeee8;
}
.bg-bricks {
  background: url(../assets/images/home/bricks.jpg);
  position: relative;
}

.bg-bricks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 147, 0.726); /* White overlay with 50% opacity */
  z-index: 1;
}

.bg-bricks > * {
  position: relative;
  z-index: 2;
}

.text-hover-light:hover {
  color: #fff;
}
.border-light {
  border: 1px solid #edeee8;
}
.outline-light {
  outline: 1px 1px solid #edeee8;
}
.text-black {
  color: #000;
}
.bg-black {
  background-color: #000;
}
.text-hover-black:hover {
  color: #4d4d4d;
}
.border-black {
  border: 1px solid #000;
}
.outline-black {
  outline: 1px 1px solid #000;
}
.text-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.text-hover-white:hover {
  color: #fff;
}
.border-white {
  border: 1px solid #fff;
}
.outline-white {
  outline: 1px 1px solid #fff;
}
.hide-for-mobile {
  display: none;
}
@media (min-width: 48rem) {
  .hide-for-mobile {
    display: block;
  }
}
.hide-for-desktop {
  display: block;
}
@media (min-width: 48rem) {
  .hide-for-desktop {
    display: none;
  }
}
.hide-for-medium {
  display: none;
}
@media (min-width: 62rem) {
  .hide-for-medium {
    display: block;
  }
}
.fade-in {
  animation: fade-in 0.5s ease-in forwards;
}
.fade-out {
  animation: fade-out 0.3s ease-out forwards;
}
.box-shadow {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.section {
  margin: 1.25rem 0;
  padding: 3rem 0;
}
.border-line {
  position: relative;
}
@media (min-width: 48rem) {
  .border-line:before {
    background-color: #FFF201;
    bottom: 0;
    content: "";
    height: 92%;
    position: absolute;
    right: -20%;
    transform: translatey(-4%);
    width: 4px;
  }
}
.h1 {
  font-size: clamp(3rem, 5vw + 1rem, 4rem);
  line-height: 1;
}
.h2 {
  font-size: 2rem;
}
@media (max-width: 47.9375em) {
  .h2 {
    font-size: 1.875rem;
  }
}
.h3 {
  font-size: 1.3rem;
}
@media (max-width: 47.9375em) {
  .h3 {
    font-size: 1.175rem;
  }
}
.h4 {
  font-size: 1.2rem;
}
@media (max-width: 47.9375em) {
  .h4 {
    font-size: 1.075rem;
  }
}
.h5 {
  font-size: 1.1rem;
}
@media (max-width: 47.9375em) {
  .h5 {
    font-size: 0.975rem;
  }
}
.header-underline {
  position: relative;
}
.header-underline:before {
  background-color: #FFF201;
  content: "";
  height: 0.1875rem;
  left: 50%;
  position: absolute;
  top: 1.75rem;
  transform: translateX(-50%);
  width: 98%;
}
.h2 .header-underline {
  position: relative;
}
.h2 .header-underline:before {
  background-color: #FFF201;
  content: "";
  height: 0.3125rem;
  left: 50%;
  position: absolute;
  top: 2.8125rem;
  transform: translateX(-50%);
  width: 60%;
}
.card {
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  min-width: 20rem;
}
.card .card__image {
  width: 100%;
  color: #ffffff;
}
.card .card__body .card__title {
  font-size: 1.2rem;
  font-weight: 900;
  color: #282828;
}
.card .card__body .card__text {
  color: #5e5c47;
}
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 4.125rem;
}
.nav .nav__brand .nav__brand-image {
  height: 4rem;
}

.nav .nav__brand .nav__brand-name {
  color: #5bd75b;
  font-size: 1.125rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .nav .nav__brand .nav__brand-name {
    font-size: 1.5rem;
  }
}
.nav .nav__toggle {
  cursor: pointer;
  height: 1.5rem;
  position: relative;
  transition: background-color 1s ease-in-out;
  width: 1.5rem;
}
.nav .nav__toggle:hover .nav__burger-line {
  background-color: #fff;
}
.nav .nav__toggle .nav__burger-line {
  background-color: #ffffff;
  border-radius: 0.3125rem;
  height: 0.15rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
  width: 100%;
}
.nav .nav__toggle .nav__burger-line--1 {
  transform: translate(-50%, -7px);
}
.nav .nav__toggle .nav__burger-line--2 {
  width: 100%;
}
.nav .nav__toggle .nav__burger-line--3 {
  transform: translate(-50%, 5px);
}
.nav .nav__links {
  height: 0;
  position: absolute;
  visibility: hidden;
}
@media (min-width: 48rem) {
  .nav .nav__links {
    height: auto;
    position: relative;
    visibility: visible;
  }
}
.nav .nav__links .nav__link {
  letter-spacing: 2px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.nav .nav__links .nav__link:hover {
  color: #FFF201;
}
.nav .nav__links .nav__link:hover:before {
  opacity: 1;
  transform: scaleX(1);
  transform-origin:0%;
}

.nav .nav__links .nav__link:before {
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.nav .nav__links .nav__link:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (min-width: 48rem) {
  .nav .nav__links .nav__link:not(:last-child) {
    margin-right: 0.625rem;
  }
}
@media (min-width: 62rem) {
  .nav .nav__links .nav__link:not(:last-child) {
    margin-right: 1.25rem;
  }
}
.nav .nav__links .nav__link:before {
  background-color: #32cd32;
  content: "";
  height: 0.1875rem;
  opacity: 0;
  position: absolute;
  top: 1.5rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
@media (min-width: 48rem) {
  .nav .nav__links .nav__link:before {
    top: 2.1875rem;
  }
}
@media (min-width: 62rem) {
  .nav .nav__links .nav__link:before {
    top: 2.4375rem;
  }
}
.nav .nav__links .nav__link--active {
  color: #32cd32;
  font-weight: 700;
}
.nav .nav__links .nav__link--active:before {
  opacity: 1;
}
.nav .nav__cta {
  letter-spacing: 1.5px;
}
.nav--open-menu {
  padding: 20px 0;
}
.nav--open-menu .nav__toggle .nav__burger-line--1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.nav--open-menu .nav__toggle .nav__burger-line--2 {
  width: 0;
}
.nav--open-menu .nav__toggle .nav__burger-line--3 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.nav--open-menu .nav__links {
  align-items: center;
  animation: opac 0.5s linear;
  background-color: #1e1b1c;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  height: auto;
  padding: 1.25rem;
  position: absolute;
  right: 50%;
  top: 5rem;
  transform: translateX(50%);
  visibility: visible;
  width: 15.625rem;
  z-index: 3;
}
.nav__brand--shrink .nav__brand .nav__brand-image {
  height: 1.875rem;
}
.nav__brand--shrink .nav__brand .nav__brand-name {
  font-size: 1rem;
}
.btn {
  background-color: #e2e2e2;
}
.btn,
.btn-primary {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-primary {
  background-color: #FFF201;
}
.btn-primary:hover {
  background-color: #FFF201;
  outline: 1px solid #FFF201;
}
.btn-outline-primary {
  background-color: #fff;
  border: 1px solid #32cd32;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-outline-primary:hover {
  background-color: #FFF201;
}
.btn-secondary {
  background-color: #2cc;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-secondary:hover {
  background-color: #42dfdf;
  outline: 1px solid #2cc;
}
.btn-outline-secondary {
  background-color: #fff;
  border: 1px solid #2cc;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-outline-secondary:hover {
  background-color: #2cc;
}
.btn-error {
  background-color: #f42f2f;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-error:hover {
  background-color: #f75f5f;
  outline: 1px solid #f42f2f;
}
.btn-outline-error {
  background-color: #fff;
  border: 1px solid #f42f2f;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-outline-error:hover {
  background-color: #f42f2f;
}
.btn-dark-gray {
  background-color: #5e5c47;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-dark-gray:hover {
  background-color: #7b785d;
  outline: 1px solid #5e5c47;
}
.btn-outline-dark-gray {
  background-color: #fff;
  border: 1px solid #5e5c47;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-outline-dark-gray:hover {
  background-color: #5e5c47;
}
.btn-dark {
  background-color: #1e1b1c;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-dark:hover {
  background-color: #393335;
  outline: 1px solid #1e1b1c;
}
.btn-outline-dark {
  background-color: #fff;
  border: 1px solid #1e1b1c;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-outline-dark:hover {
  background-color: #1e1b1c;
}
.btn-light {
  background-color: #edeee8;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-light:hover {
  background-color: #fff;
  outline: 1px solid #edeee8;
}
.btn-outline-light {
  background-color: #fff;
  border: 1px solid #edeee8;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-outline-light:hover {
  background-color: #edeee8;
}
.btn-black {
  background-color: #000;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-black:hover {
  background-color: #1a1a1a;
  outline: 1px solid #000;
}
.btn-outline-black {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-outline-black:hover {
  background-color: #000;
}
.btn-white {
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-white:hover {
  background-color: #fff;
  outline: 1px solid #fff;
}
.btn-outline-white {
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
  text-decoration: none;
}
.btn-outline-white,
.btn-outline-white:hover {
  background-color: #fff;
}
.fab-button {
  animation: opac 0.3s ease-in-out forwards;
  border-width: 0.1875rem;
  bottom: 1.25rem;
  display: none;
  font-size: 1.25rem;
  height: 2.5rem;
  right: 0.3125rem;
  width: 2.5rem;
  z-index: 120;
}
@media (min-width: 48rem) {
  .fab-button {
    bottom: 1.25rem;
    font-size: 1.875rem;
    height: 3.75rem;
    right: 1.25rem;
    width: 3.75rem;
  }
}
.swiper {
  padding: 2em 1em;
}
@media (min-width: 48rem) {
  .swiper {
    padding: 2em;
  }
}
@media (min-width: 62rem) {
  .swiper {
    padding: 4em;
  }
}
.swiper .swiper-button-next {
  display: none;
}
@media (min-width: 62rem) {
  .swiper .swiper-button-next {
    display: block;
  }
}
.swiper .swiper-button-prev {
  display: none;
}
@media (min-width: 62rem) {
  .swiper .swiper-button-prev {
    display: block;
  }
}
.swiper .swiper-navBtn {
  transition: all 0.3s ease-in-out;
}
.swiper .swiper-navBtn:hover {
  color: #2cc;
}
.swiper .swiper-pagination-bullet {
  background-color: #2cc;
  height: 0.75rem;
  opacity: 0.7;
  width: 0.75rem;
}
.swiper .swiper-pagination-bullet:hover {
  color: #32cd32;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #1eb6b6;
  opacity: 1;
}
.form .form__group {
  display: grid;
  gap: 0.3125rem;
  margin-bottom: 0.9375rem;
}
.form .form__group .form__control {
  background-color: #fdfdfd;
  border: 1px solid #adebad;
  padding: 0.625rem;
}
.form .form__group .form__control:focus {
  background-color: #fff;
  outline: 1px solid #32cd32;
}
.form .form__group .form__control:active {
  background-color: #fff;
  outline: 2px solid #32cd32;
}
.form .form__group .form__control--textarea {
  resize: none;
  width: 100%;
}
.form .form__group .form__error {
  background-color: #fdfdfd;
  border: 1px solid #f42f2f;
  padding: 0.625rem;
}
.form .form__group .form__error:focus {
  background-color: #fff;
  outline: 1px solid #f42f2f;
}
.form .form__group .form__error:active {
  background-color: #fff;
  outline: 2px solid #f42f2f;
}
.form .form__checkbox {
  margin: 0.9375rem 0;
}
.form .form__checkbox .checkbox {
  cursor: pointer;
  display: block;
  padding-left: 2.1875rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.form .form__checkbox .checkbox input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}
.form .form__checkbox .checkbox .checkmark {
  background-color: #fdfdfd;
  border: 1px solid #adebad;
  border-radius: 0.1875rem;
  height: 1.25rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 1.25rem;
}
.form .form__checkbox .checkbox .checkmark:after {
  border: solid #fff;
  border-width: 0 0.1875rem 0.1875rem 0;
  content: "";
  display: none;
  height: 0.9375rem;
  left: 0.5rem;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 0.3125rem;
}
.form .form__checkbox .checkbox:hover input ~ .checkmark {
  background-color: #fff;
  border: 1px solid #32cd32;
}
.form .form__checkbox .checkbox input:checked ~ .checkmark {
  background-color: #32cd32;
}
.form .form__checkbox .checkbox input:checked ~ .checkmark:after {
  display: block;
}
.form .form__submit-btn {
  display: inline-block;
  width: 100%;
}
@media (min-width: 36rem) {
  .form .form__submit-btn {
    width: unset;
  }
}
.toaster {
  background-color: #c4f0c4;
  border-radius: 0.3125rem;
  color: #068a06;
  opacity: 0;
  padding: 1.5625rem 2.5rem;
  position: fixed;
  right: 1.25rem;
  top: 50%;
  visibility: hidden;
  z-index: 120;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.5em;
}
.p-2 {
  padding: 1em;
}
.p-3 {
  padding: 2em;
}
.p-4 {
  padding: 3em;
}
.p-5 {
  padding: 4em;
}
.px-0 {
  padding-inline: 0;
}
.px-1 {
  padding-inline: 0.5em;
}
.px-2 {
  padding-inline: 1em;
}
.px-3 {
  padding-inline: 2em;
}
.px-4 {
  padding-inline: 3em;
}
.px-5 {
  padding-inline: 4em;
}
.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 0.5em;
}
.pl-2 {
  padding-left: 1em;
}
.pl-3 {
  padding-left: 2em;
}
.pl-4 {
  padding-left: 3em;
}
.pl-5 {
  padding-left: 4em;
}
.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 0.5em;
}
.pr-2 {
  padding-right: 1em;
}
.pr-3 {
  padding-right: 2em;
}
.pr-4 {
  padding-right: 3em;
}
.pr-5 {
  padding-right: 4em;
}
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 0.5em;
}
.pt-2 {
  padding-top: 1em;
}
.pt-3 {
  padding-top: 2em;
}
.pt-4 {
  padding-top: 3em;
}
.pt-5 {
  padding-top: 4em;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 0.5em;
}
.pb-2 {
  padding-bottom: 1em;
}
.pb-3 {
  padding-bottom: 2em;
}
.pb-4 {
  padding-bottom: 3em;
}
.pb-5 {
  padding-bottom: 4em;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.ml-3 {
  margin-left: 2rem;
}
.ml-4 {
  margin-left: 3rem;
}
.ml-5 {
  margin-left: 4rem;
}
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.5rem;
}
.mr-2 {
  margin-right: 1rem;
}
.mr-3 {
  margin-right: 2rem;
}
.mr-4 {
  margin-right: 3rem;
}
.mr-5 {
  margin-right: 4rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 3rem;
}
.mt-5 {
  margin-top: 4rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.fnt-size{
  font-size: 12pt;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 3rem;
}
.mb-5 {
  margin-bottom: 4rem;
}
.o-10 {
  opacity: 0.1;
}
.o-20 {
  opacity: 0.2;
}
.o-30 {
  opacity: 0.3;
}
.o-40 {
  opacity: 0.4;
}
.o-50 {
  opacity: 0.5;
}
.o-60 {
  opacity: 0.6;
}
.o-70 {
  opacity: 0.7;
}
.o-80 {
  opacity: 0.8;
}
.o-90 {
  opacity: 0.9;
}
.o-100 {
  opacity: 1;
}
.br {
  border-radius: 10px;
}
.br-none {
  border-radius: 0;
}
.br-xs {
  border-radius: 2.5px;
}
.br-sm {
  border-radius: 5px;
}
.br-lg {
  border-radius: 20px;
}
.br-full {
  border-radius: 50%;
}
.display-n {
  display: none;
}
.display-b {
  display: block;
}
.display-f {
  display: flex;
}
.display-g {
  display: grid;
}
.display-i {
  display: inline;
}
.display-i-b {
  display: inline-block;
}
.fw-light,
.fw-normal {
  font-weight: 400;
}
.fw-semi-bold {
  font-weight: 500;
}
.fw-bold {
  font-weight: 700;
}
.fw-bolder {
  font-weight: bolder;
}
.cursor {
  cursor: pointer;
}
.position-relative {
  position: relative;
}
.position-static {
  position: static;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-sticky {
  position: sticky;
}
.lh-lh-base {
  line-height: 1.5;
}
.lh-lh-small {
  line-height: 1.25;
}
.lh-lh-ba {
  line-height: 2;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.row {
  display: flex;
  flex-flow: row wrap;
}
.justify-flex-end {
  justify-content: flex-end;
}
.justify-flex-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.justify-space-around {
  justify-content: space-around;
}
.align-flex-end {
  align-content: flex-end;
}
.align-flex-start {
  align-content: flex-start;
}
.align-center {
  align-content: center;
}
.align-space-between {
  align-content: space-between;
}
.align-space-evenly {
  align-content: space-evenly;
}
.align-space-around {
  align-content: space-around;
}
.align-flex-end {
  align-items: flex-end;
}
.align-flex-start {
  align-items: flex-start;
}
.align-stretch {
  align-items: stretch;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}
.align-baseline {
  align-items: baseline;
}
.gap-o {
  gap: 0;
}
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}
@media (min-width: 0rem) {
  .col-1-xs {
    width: 8.3333333333%;
  }
  .col-2-xs {
    width: 16.6666666667%;
  }
  .col-3-xs {
    width: 25%;
  }
  .col-4-xs {
    width: 33.3333333333%;
  }
  .col-5-xs {
    width: 41.6666666667%;
  }
  .col-6-xs {
    width: 50%;
  }
  .col-7-xs {
    width: 58.3333333333%;
  }
  .col-8-xs {
    width: 66.6666666667%;
  }
  .col-9-xs {
    width: 75%;
  }
  .col-10-xs {
    width: 83.3333333333%;
  }
  .col-11-xs {
    width: 91.6666666667%;
  }
  .col-12-xs {
    width: 100%;
  }
}
@media (min-width: 36rem) {
  .col-1-sm {
    width: 8.3333333333%;
  }
  .col-2-sm {
    width: 16.6666666667%;
  }
  .col-3-sm {
    width: 25%;
  }
  .col-4-sm {
    width: 33.3333333333%;
  }
  .col-5-sm {
    width: 41.6666666667%;
  }
  .col-6-sm {
    width: 50%;
  }
  .col-7-sm {
    width: 58.3333333333%;
  }
  .col-8-sm {
    width: 66.6666666667%;
  }
  .col-9-sm {
    width: 75%;
  }
  .col-10-sm {
    width: 83.3333333333%;
  }
  .col-11-sm {
    width: 91.6666666667%;
  }
  .col-12-sm {
    width: 100%;
  }
}
@media (min-width: 48rem) {
  .col-1-md {
    width: 8.3333333333%;
  }
  .col-2-md {
    width: 16.6666666667%;
  }
  .col-3-md {
    width: 25%;
  }
  .col-4-md {
    width: 33.3333333333%;
  }
  .col-5-md {
    width: 41.6666666667%;
  }
  .col-6-md {
    width: 50%;
  }
  .col-7-md {
    width: 58.3333333333%;
  }
  .col-8-md {
    width: 66.6666666667%;
  }
  .col-9-md {
    width: 75%;
  }
  .col-10-md {
    width: 83.3333333333%;
  }
  .col-11-md {
    width: 91.6666666667%;
  }
  .col-12-md {
    width: 100%;
  }
}
@media (min-width: 62rem) {
  .col-1-lg {
    width: 8.3333333333%;
  }
  .col-2-lg {
    width: 16.6666666667%;
  }
  .col-3-lg {
    width: 25%;
  }
  .col-4-lg {
    width: 33.3333333333%;
  }
  .col-5-lg {
    width: 41.6666666667%;
  }
  .col-6-lg {
    width: 50%;
  }
  .col-7-lg {
    width: 58.3333333333%;
  }
  .col-8-lg {
    width: 66.6666666667%;
  }
  .col-9-lg {
    width: 75%;
  }
  .col-10-lg {
    width: 83.3333333333%;
  }
  .col-11-lg {
    width: 91.6666666667%;
  }
  .col-12-lg {
    width: 100%;
  }
}
@media (min-width: 200rem) {
  .col-1-xl {
    width: 8.3333333333%;
  }
  .col-2-xl {
    width: 16.6666666667%;
  }
  .col-3-xl {
    width: 25%;
  }
  .col-4-xl {
    width: 33.3333333333%;
  }
  .col-5-xl {
    width: 41.6666666667%;
  }
  .col-6-xl {
    width: 50%;
  }
  .col-7-xl {
    width: 58.3333333333%;
  }
  .col-8-xl {
    width: 66.6666666667%;
  }
  .col-9-xl {
    width: 75%;
  }
  .col-10-xl {
    width: 83.3333333333%;
  }
  .col-11-xl {
    width: 91.6666666667%;
  }
  .col-12-xl {
    width: 100%;
  }
}
.container {
  margin-inline: auto;
  max-width: min(90%, 1100px);
  
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header .overlay {
  background-image: linear-gradient(180deg, #84e184, transparent);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: fixed;
  right: 0;
  top: 3.625rem;
  z-index: 2;
}
.hero {
  position: relative;
  align-items: center;
  background: url(../assets/images/home/hero.png);
  background-position: center right 30%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  min-height: 100dvh;
  
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(46, 51, 146, 0.53) 0%, rgba(46, 51, 146, 0.53) 100%) ;
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}

@media (min-width: 48rem) {
  .hero {
    background-color: #646464;
    background-position: bottom right 40%;
  }
}
@media (min-width: 62rem) {
  .hero {
    background-color: #646464;
    background-position: bottom right 55%;
  }
}
.hero .hero__text {
  text-align: center;
}
@media (min-width: 48rem) {
  .hero .hero__text {
    max-width: 70%;
    text-align: left;
  }
}
.about-us .about-us__details {
  text-align: center;
}

@media (min-width: 48rem) {
  .about-us .about-us__details {
    text-align: left;
  }
}
.services .service {
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}
.services .service:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.services .service .service__image {
  background-image: linear-gradient(-45deg, #2cc, #2E3192);
  border-radius: 50%;
  font-size: 2.8125rem;
  margin: auto;
  padding: 0.9375rem;
  width: 50px;
  width: 6.25rem;
}
.projects {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "project1" "project2" "project3" "project4" "project5";
}
.projects .project {
  background-color: #5e5c47;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.3125rem;
  min-height: 18.75rem;
  overflow: hidden;
  position: relative;
}
.projects .project:first-child {
  background-image: url(../assets/images/projects/project1.jpg);
  grid-area: project1;
}
.projects .project:nth-child(2) {
  background-image: url(../assets/images/projects/project2.jpg);
  grid-area: project2;
}
.projects .project:nth-child(3) {
  background-image: url(../assets/images/projects/project3.jpg);
  grid-area: project3;
}
.projects .project:nth-child(4) {
  background-image: url(../assets/images/projects/project4.jpg);
  grid-area: project4;
}
.projects .project:nth-child(5) {
  background-image: url(../assets/images/projects/project5.jpg);
  grid-area: project5;
}
.projects .project:after {
  background: inherit;
  content: "";
  inset: 0;
  position: absolute;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
.projects .project:hover:after {
  cursor: pointer;
  transform: scale(1.1);
}
.projects .project:hover .project__details {
  background-color: rgba(0, 0, 0, 0);
}
.projects .project .project__details {
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 1.25rem;
  position: absolute;
  right: 0;
  z-index: 1;
}
@media (min-width: 48rem) {
  .projects {
    grid-template-areas: "project1 project1" "project2 project5" "project3 project5" "project4 project4";
  }
}
@media (min-width: 62rem) {
  .projects {
    grid-template-areas: "project1 project1 project1 project2 project2 project5 project5" "project3 project3 project4 project4 project4 project5 project5";
  }
}
.banners {
  background-color: #2cc;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), hsla(238, 52%, 38%, 0.703)), url(../assets/images/home/WarehouseInterior.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
}
.testimonies .testimonies__list .testimonies__item {
  border-radius: 0.625rem;
  overflow: hidden;
  position: relative;
}
.testimonies .testimonies__list .testimonies__item .testimonies__message {
  background-color: #fff;
  background-image: url(../assets/images/testimonial/quotation.svg);
  background-position: top 10px right 45px;
  background-repeat: no-repeat;
  background-size: 15%;
  border-radius: 0.625rem;
  font-size: 1rem;
  padding: 30px 20px 10px;
  position: relative;
} 
.testimonies
  .testimonies__list
  .testimonies__item
  .testimonies__message
  .rating,
.testimonies .testimonies__list .testimonies__item .testimonies__message p {
  position: relative;
}
.testimonies
  .testimonies__list
  .testimonies__item
  .testimonies__message:before {
  border-radius: inherit;
  bottom: 0;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.testimonies .testimonies__list .testimonies__item .testimonies__client {
  align-items: center;
  display: flex;
  gap: 0.625rem;
  line-height: 1.25;
  margin-top: -13px;
  position: relative;
}
.testimonies
  .testimonies__list
  .testimonies__item
  .testimonies__client
  .testimonies__client-image {
  border: 0.1875rem solid #32cd32;
  border-radius: 50%;
  height: 5rem;
  overflow: hidden;
  width: 5rem;
}
.testimonies
  .testimonies__list
  .testimonies__item
  .testimonies__client
  .testimonies__client-image
  img {
  border-radius: inherit;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 0.125rem;
  width: 100%;
}
.contact-us .contact__info {
  margin-top: 2.5rem;
}
@media (min-width: 48rem) {
  .contact-us .contact__info {
    margin-top: unset;
  }
}
.contact-us .contact__location {
  border: 1px solid #32cd32;
  height: 260px;
  width: 100%;
}
.footer {
  border-top: 0.1875rem solid #32cd32;
}
.footer .footer__about {
  text-align: center;
}
@media (min-width: 48rem) {
  .footer .footer__about {
    text-align: left;
  }
}

@media (min-width: 0rem) {
  .footer .footer__about .footer__brand {
    justify-content: center;
  }
}
@media (min-width: 48rem) {
  .footer .footer__about .footer__brand {
    justify-content: flex-start;
  }
}
.footer .footer__brand-image {
  height: 8.875rem;
}
.social-media__link{
  transition: all 0.5s ease-in-out;
}
@media (min-width: 0rem) {
  .footer .social-media__links {
    justify-content: space-evenly;
  }
}
@media (min-width: 48rem) {
  .footer .social-media__links {
    justify-content: center;
  }
}
@media (min-width: 62rem) {
  .footer .social-media__links {
    justify-content: space-evenly;
  }
}
.footer .social-media__links .social-media__link {
  background-color: #32cd32;
  background-image: linear-gradient(-45deg, #32cd32, #2cc);
  border-radius: 0.3125rem;
  color: #fff;
  font-size: 1.5625rem;
  padding: 0.625rem 0.9375rem;
  transition: all 0.5s ease-in-out;
}
.footer .social-media__links .social-media__link:hover {
  background-image: linear-gradient(-45deg, #2cc, #32cd32);
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
