@use 'abstract' as *;

.hero {
    //min-height: rem(668);
    min-height: 100vh;
    min-height: 100dvh;
    //height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #2E3392;
    align-items: center;
    background-image: url('../assets/images/home/hero.png');
    background-size: cover;
    background-position: center right 30%;
    background-blend-mode: multiply;
    
    @include breakpoints-up("md") {
        background-color: #646464;
        background-position: bottom right 40%;

    }

    @include breakpoints-up("lg") {
        background-color: #646464;
        background-position: bottom right 55%;

    }

    .hero__text {
        text-align: center;

        @include breakpoints-up("md") {
            text-align: left;
            max-width: 70%;
        }
    }
}